# WLAN
wifi_ssid: "DEIN_WLAN"
wifi_password: "DEIN_WLAN_PASSWORT"

# Home Assistant API Encryption Key
# Neu erzeugen mit: openssl rand -base64 32
api_encryption_key: "BASE64_KEY_HIER_EINSETZEN"

# OTA-Update-Passwort (frei wählbar)
ota_password: "DEIN_OTA_PASSWORT"

# Passwort für den Fallback-Hotspot (frei wählbar, min. 8 Zeichen)
ap_password: "DEIN_AP_PASSWORT"
